@page
@model Project.EditModel

@{
    ViewData["Title"] = "Edit Project";
}

<h1>Edit Project</h1>

<h4>TblProjects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblProjects.ProjectID" />
            <input type="hidden" asp-for="TblProjects.IsActive" />
            <input type="hidden" asp-for="TblProjects.CreatedBy" />
            <input type="hidden" asp-for="TblProjects.CreatedDate" />
            <input type="hidden" asp-for="TblProjects.ModifiedBy" />
            <input type="hidden" asp-for="TblProjects.ModifiedDate" />
            <div class="form-group">
                <label asp-for="TblProjects.ProjectName" class="control-label"></label>
                <input asp-for="TblProjects.ProjectName" class="form-control" />
                <span asp-validation-for="TblProjects.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProjects.Description" class="control-label"></label>
                <input asp-for="TblProjects.Description" class="form-control" />
                <span asp-validation-for="TblProjects.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
